<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">>
<head>
    <title>Create Account</title>
    <link type="text/css" rel="stylesheet" href="css/signUpForm.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    body, html {
      height: 100%;
      line-height: 1.8;
    }
    .w3-bar .w3-button {
      padding: 16px;
    }
    .logoText {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    }
</style>
<body>

<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="/administratorPage" class="logoText w3-button w3-wide" width="100px">A.E.S.</a>
    </div>
</div>

<div class='bold-line'></div>
<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Hello Admin</div>
            <div class='subtitle'>Create a new account</div>
            <form name="signup" method="post" action="#" th:action="@{/adminProcessRegister}" th:object = "${user}">
                <div class='input-fields'>
                    <input type="text" th:field="*{role}" name="role" placeholder="Role" class='input-line full-width'required="">
                    <input type="text" th:field="*{username}" name="txt" placeholder="Username" class='input-line full-width'required="">
                    <input type="email" th:field="*{email}" name="email" placeholder="Email" class='input-line full-width' required="">
                    <input type="password" th:field="*{password}" name="pswd" placeholder='Password' class='input-line full-width' required="">
                </div>
                <div>
                    <button class='ghost-round full-width'>Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

