<!DOCTYPE html>
<html lang="en">
<title>Contact Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    .logoText {
        font-size: 15px;
        font-family: "Raleway", sans-serif;
    }
    body, html {
      height: 100%;
      line-height: 1.8;
    }
    .w3-bar .w3-button {
      padding: 16px;
    }
    .logoText {
        font-size: 15px;
        font-family: "Raleway", sans-serif;
    }
</style>
<body>
<!-- Button Section -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="/home" class="logoText w3-button w3-wide" width="100px">A.E.S.</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="/airportEvents" class="w3-button"><i class="fa fa-paper-plane-o"></i>FLIGHTS</a>
            <a href="/login" class="w3-bar-item w3-button"><i class="fa fa-user"></i>LOG IN</a>
<!--            <a href="/signUpPage" class="w3-bar-item w3-button"><i class="fa fa-user"></i>SIGN UP</a>-->
            <a href="/about" class="w3-bar-item w3-button"><i class="fa fa-question"></i>ABOUT</a>
<!--            <a href="/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>CONTACT</a>-->
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-dark-grey" style="padding:150px" id="contact">
    <h3 class="w3-center">CONTACT</h3>
    <p class="w3-center w3-large">Lets get in touch. Send us a message. We will be happy to respond:</p>
    <div class = "w3-center" style=" margin-top:48px">
        <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Cluj-Napoca, Cluj, RO</p>
        <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +40 748****36</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right" style="padding:0px 0px 532px 0px"> </i> Email: SEproject@gmail.com</p>
    </div>
</div>
</body>
</html>